//@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700);

$tablet-width: 768px;
$desktop-width: 1024px;

$white: #ffffff;
$orange: #d98000;
$yellow: #ffc603;
$gray: #999999;
$black: #000000;
$underlineColor: #1f1a08;

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;    
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;    
    }
}

@mixin morelink($color, $pos, $posValue, $topValue) {
    color: $color;
    text-decoration: none;
    font-size: 1rem; 
    //position: relative;
    padding-bottom: 2px;
    //display: inline-block;
                   
    &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border: 1px $yellow solid;
        @include border-radius(10px);
        text-align: center;
        @if $topValue != 0 {
            top: $topValue;
        }
        @else {
            top: 0;
        }
        @if $pos == left {
            left: $posValue; 
        } @else if $pos == right {
            right: $posValue;
        }
        position: absolute;        
    }

    &::after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        border-top: 1px $yellow solid;
        border-right: 1px $yellow solid;            
        @if $topValue != 0 {
            top: $topValue+7px;
        }
        @else {
            top: 7px;
        }
        @if $pos == left {
            left: $posValue+5px; 
        } @else if $pos == right {
            right: $posValue+9px;
        }
        position: absolute;
        transform: rotate(45deg);
    }    
} 
 
@mixin border-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
    border-radius: $value;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {   
    
    box-sizing: border-box;    
    //font-size: 62.5%;
    font-weight: 300;
    background: $black;
    color: $white;
    font-family: 'Source Sans Pro', 'Droid Sans', Tahoma, Verdana;
}     

a { text-decoration: none }


#landingPage {
    height: 100vh;
    //width: 100%;
    overflow: hidden;
    background-image: url(../images/nowplaying_bg.png);
    background-size: cover;
    padding: 0 1.3rem;
    
    header {
        margin: 1.3rem 0;
        position: relative;
        text-align: center;
        
        #hamburger { 
            position: absolute; 
            left: 0;
            top: 18px;
            
        }
        #logo {}
        #volume {
            position: absolute;
            right: 0;
            top: 14px;
        }
    }
    
    #np-panel {        
                
        &-cover {
            width: 100%;  
            margin-bottom: 0.5rem;
        }
        
        p { 
            text-align: center;
            font-size: 0.8rem;
            
            
            &:nth-of-type(2) {
                font-size: 1.4rem;
            }
        }
        
        &-controls {
            margin: 1.3rem 0;
            text-align: center;
        }
    }
}


section { 
    
    font-size: 0.9rem;
    border-bottom: 1px $underlineColor solid;
    border-right: 1px $underlineColor solid;    
    padding: 0 1.3rem 1.3rem;
    //max-width: 384px;
    overflow: hidden;
    
    /*@include tablet { font-size: 1rem; }    
    @include desktop { font-size: 1.5rem; } */

    h1 {
        font-size: 1.4rem;
        color: $orange;
        font-weight: 300;
        margin: 0.8rem 0 ;
    }
    
    
    article {
        overflow: hidden;
            
        img {
            float: left;
            margin-right: 10px;
            margin-top: 0.2rem;            
        }
        
        > div {
            overflow: hidden;
            
            div {
                margin-bottom: 0.4rem;
                position: relative;
                
                a {
                    @include morelink($yellow, left, 40px, 0);                      
                }                                
            }                     
        }
        
        .date {
            color: $gray; 
            font-size: 0.8rem;
        }
        
        .title {
            font-size: 1.1rem;
        }

        .desc {
            color: $gray;    
        }

        .length {
            color: $gray;
            font-size: 0.8rem;
        }

        .frequency {
            font-size: 1.1rem;
        }

        .area,
        .gender {
            color: $gray;
            font-size: 0.8rem;
        }         
    }
    
    article:not(:last-child) {
        padding-bottom: 1rem; 
    } 
    
    p {
        position: relative;
        a {
            @include morelink($white, right, 0, 0);
        }    
    }
    
    p:not(:last-child) {
        padding-bottom: 1rem; 
    } 
    
    
    
    .recentlyPlayed-item img {
        width: 50px;
        height: 50px;
    }
    
    .recentlyPlayed-item > div div {
        margin-bottom: 0;
    }
    
    .contest-item,
    .concert-item,
    .perks-item { 
        img {
            width: 114px;
            height: 114px;
        }
    }   
} 

#stationDirectory article {
    position: relative;
    a {
        @include morelink($yellow, right, 0, 18px);
    }
} 


