html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%; }

body {
  font-size: 62.5%;
  background: #000000;
  color: #ffffff;
  font-family: Tahoma, Verdana; }

div {
  font-size: 0.8rem;
  /*@include tablet { font-size: 1rem; }    
    @include desktop { font-size: 1.5rem; } */ }
  div .contest-item-date,
  div .perks-item-date {
    color: #999999; }
  div .contest-item-desc,
  div .perks-item-desc {
    color: #999999; }
  div .singleStation-item-area, div .singleStation-item-gender {
    color: #999999; }

h1 {
  color: #d98000; }

a {
  color: #ffc603;
  text-decoration: none; }
