@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700);
* {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  box-sizing: border-box;
  font-size: 100%; }

body {
  box-sizing: border-box;
  font-weight: 300;
  background: #000000;
  color: #ffffff;
  font-family: 'Source Sans Pro', 'Droid Sans', Tahoma, Verdana; }

a {
  text-decoration: none; }

#landingPage {
  height: 100vh;
  overflow: hidden;
  background-image: url(../images/nowplaying_bg.png);
  background-size: cover;
  padding: 0 1.3rem; }
  #landingPage header {
    margin: 1.3rem 0;
    position: relative;
    text-align: center; }
    #landingPage header #hamburger {
      position: absolute;
      left: 0;
      top: 18px; }
    #landingPage header #volume {
      position: absolute;
      right: 0;
      top: 14px; }
  #landingPage #np-panel-cover {
    width: 100%;
    margin-bottom: 0.5rem; }
  #landingPage #np-panel p {
    text-align: center;
    font-size: 0.8rem; }
    #landingPage #np-panel p:nth-of-type(2) {
      font-size: 1.4rem; }
  #landingPage #np-panel-controls {
    margin: 1.3rem 0;
    text-align: center; }

section {
  font-size: 0.9rem;
  border-bottom: 1px #1f1a08 solid;
  border-right: 1px #1f1a08 solid;
  padding: 0 1.3rem 1.3rem;
  overflow: hidden;
  /*@include tablet { font-size: 1rem; }    
    @include desktop { font-size: 1.5rem; } */ }
  section h1 {
    font-size: 1.4rem;
    color: #d98000;
    font-weight: 300;
    margin: 0.8rem 0; }
  section article {
    overflow: hidden; }
    section article img {
      float: left;
      margin-right: 10px;
      margin-top: 0.2rem; }
    section article > div {
      overflow: hidden; }
      section article > div div {
        margin-bottom: 0.4rem;
        position: relative; }
        section article > div div a {
          color: #ffc603;
          text-decoration: none;
          font-size: 1rem;
          padding-bottom: 2px; }
          section article > div div a::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border: 1px #ffc603 solid;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 10px;
            text-align: center;
            top: 0;
            left: 40px;
            position: absolute; }
          section article > div div a::after {
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            border-top: 1px #ffc603 solid;
            border-right: 1px #ffc603 solid;
            top: 7px;
            left: 45px;
            position: absolute;
            transform: rotate(45deg); }
    section article .date {
      color: #999999;
      font-size: 0.8rem; }
    section article .title {
      font-size: 1.1rem; }
    section article .desc {
      color: #999999; }
    section article .length {
      color: #999999;
      font-size: 0.8rem; }
    section article .frequency {
      font-size: 1.1rem; }
    section article .area,
    section article .gender {
      color: #999999;
      font-size: 0.8rem; }
  section article:not(:last-child) {
    padding-bottom: 1rem; }
  section p {
    position: relative; }
    section p a {
      color: #ffffff;
      text-decoration: none;
      font-size: 1rem;
      padding-bottom: 2px; }
      section p a::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border: 1px #ffc603 solid;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        text-align: center;
        top: 0;
        right: 0;
        position: absolute; }
      section p a::after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        border-top: 1px #ffc603 solid;
        border-right: 1px #ffc603 solid;
        top: 7px;
        right: 9px;
        position: absolute;
        transform: rotate(45deg); }
  section p:not(:last-child) {
    padding-bottom: 1rem; }
  section .recentlyPlayed-item img {
    width: 50px;
    height: 50px; }
  section .recentlyPlayed-item > div div {
    margin-bottom: 0; }
  section .contest-item img,
  section .concert-item img,
  section .perks-item img {
    width: 114px;
    height: 114px; }

#stationDirectory article {
  position: relative; }
  #stationDirectory article a {
    color: #ffc603;
    text-decoration: none;
    font-size: 1rem;
    padding-bottom: 2px; }
    #stationDirectory article a::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border: 1px #ffc603 solid;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      text-align: center;
      top: 18px;
      right: 0;
      position: absolute; }
    #stationDirectory article a::after {
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      border-top: 1px #ffc603 solid;
      border-right: 1px #ffc603 solid;
      top: 25px;
      right: 9px;
      position: absolute;
      transform: rotate(45deg); }
